.npy
.log
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pkl
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
*.csv
*.json
*.txt
*.md
.DS_Store
.pdf
.png
.jpg
.jpeg
.gif
*.mp4
*.avi
*.mov
*.mkv
*.wav
*.mp3
*.flac
*.ogg
*.zip
*.tar.gz

y_all_syms/
y_no_log/
logy/